// . . . . . . . . . . . . . . .  . . . webfonts <
@font-face {
  font-family: "font";
  src: url('../fonts/font.eot');
  src: url('../fonts/font.eot?#iefix') format('eot'),
    url('../fonts/font.woff') format('woff'),
    url('../fonts/font.ttf') format('truetype'),
    url('../fonts/font.svg#font') format('svg');
  font-weight: normal;
  font-style: normal;
}

.font:before
  display inline-block
  font-family "font"
  font-style normal
  font-weight normal
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.font-lg
  font-size 1.3333333333333333em
  line-height 0.75em
  vertical-align -15%

.font-2x
  font-size: 2em
.font-3x
  font-size: 3em
.font-4x
  font-size: 4em
.font-5x
  font-size: 5em
.font-fw
  width 1.2857142857142858em
  text-align center

.font_test:before
  content "\EA01"
.font_test2:before
  content "\EA02"
.font_test3:before
  content "\EA03"
.font_test4:before
  content "\EA04"