extends _jade/base.jade

block append styles
  link(rel="stylesheet", href="#{_rootPath}assets/css/caters.develop.main.css" + _rev)

block append scripts
  script(src="#{_rootPath}assets/js/top.example.js" + _rev)

block body
  #test
  //- .cube_rect
  //-   .cube.a
  //-     .rect.top
  //-       img(src="https://scontent.cdninstagram.com/hphotos-xpf1/t51.2885-15/e35/12224093_496338540526652_1306190789_n.jpg", alt="")
  //-     .rect.side1
  //-       img(src="https://scontent.cdninstagram.com/hphotos-xpf1/t51.2885-15/e35/12224093_496338540526652_1306190789_n.jpg", alt="")
  //-     .rect.side2
  //-       img(src="https://scontent.cdninstagram.com/hphotos-xpf1/t51.2885-15/e35/12224093_496338540526652_1306190789_n.jpg", alt="")
  //-     .rect.side3
  //-       img(src="https://scontent.cdninstagram.com/hphotos-xpf1/t51.2885-15/e35/12224093_496338540526652_1306190789_n.jpg", alt="")
  //-     .rect.side4
  //-       img(src="https://scontent.cdninstagram.com/hphotos-xpf1/t51.2885-15/e35/12224093_496338540526652_1306190789_n.jpg", alt="")
  //-     .rect.bottom
  //-       img(src="https://scontent.cdninstagram.com/hphotos-xpf1/t51.2885-15/e35/12224093_496338540526652_1306190789_n.jpg", alt="")
  //-   .cube.b
  //-     .rect.top
  //-       img(src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e35/12301203_841685525950248_2095121377_n.jpg", alt="")
  //-     .rect.side1
  //-       img(src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e35/12301203_841685525950248_2095121377_n.jpg", alt="")
  //-     .rect.side2
  //-       img(src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e35/12301203_841685525950248_2095121377_n.jpg", alt="")
  //-     .rect.side3
  //-       img(src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e35/12301203_841685525950248_2095121377_n.jpg", alt="")
  //-     .rect.side4
  //-       img(src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e35/12301203_841685525950248_2095121377_n.jpg", alt="")
  //-     .rect.bottom
  //-       img(src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e35/12301203_841685525950248_2095121377_n.jpg", alt="")
  //-   .cube.c
  //-     .rect.top
  //-       img(src="https://scontent.cdninstagram.com/hphotos-xpt1/t51.2885-15/e35/12277579_729357520532643_1391364270_n.jpg", alt="")
  //-     .rect.side1
  //-       img(src="https://scontent.cdninstagram.com/hphotos-xpt1/t51.2885-15/e35/12277579_729357520532643_1391364270_n.jpg", alt="")
  //-     .rect.side2
  //-       img(src="https://scontent.cdninstagram.com/hphotos-xpt1/t51.2885-15/e35/12277579_729357520532643_1391364270_n.jpg", alt="")
  //-     .rect.side3
  //-       img(src="https://scontent.cdninstagram.com/hphotos-xpt1/t51.2885-15/e35/12277579_729357520532643_1391364270_n.jpg", alt="")
  //-     .rect.side4
  //-       img(src="https://scontent.cdninstagram.com/hphotos-xpt1/t51.2885-15/e35/12277579_729357520532643_1391364270_n.jpg", alt="")
  //-     .rect.bottom
  //-       img(src="https://scontent.cdninstagram.com/hphotos-xpt1/t51.2885-15/e35/12277579_729357520532643_1391364270_n.jpg", alt="")